<!-- Visiting Hours Start -->
<div class="container-xxl bg-primary visiting-hours py-5 wow fadeInUp"
     data-wow-delay="0.1s"
     style="margin: 6rem 0">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <h1 class="display-6 text-white mb-5">Giờ tham quan</h1>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span>Thứ Hai</span>
                        <span>9:00AM - 6:00PM</span>
                    </li>
                    <li class="list-group-item">
                        <span>Thứ Ba</span>
                        <span>9:00AM - 6:00PM</span>
                    </li>
                    <li class="list-group-item">
                        <span>Thứ Tư</span>
                        <span>9:00AM - 6:00PM</span>
                    </li>
                    <li class="list-group-item">
                        <span>Thứ Năm</span>
                        <span>9:00AM - 6:00PM</span>
                    </li>
                    <li class="list-group-item">
                        <span>Thứ Sáu</span>
                        <span>9:00AM - 6:00PM</span>
                    </li>
                    <li class="list-group-item">
                        <span>Thứ Bảy</span>
                        <span>9:00AM - 6:00PM</span>
                    </li>
                    <li class="list-group-item">
                        <span>Chủ Nhật</span>
                        <span>Closed</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-light wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-6 text-white mb-5">Địa chỉ liên hệ</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Văn phòng</td>
                            <td>123 Street, New York, USA</td>
                        </tr>
                        <tr>
                            <td>Sở thú</td>
                            <td>123 Street, New York, USA</td>
                        </tr>
                        <tr>
                            <td>Mua vé</td>
                            <td>
                                <p class="mb-2">+012 345 6789</p>
                                <p class="mb-0">ticket@example.com</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Liên hệ hỗ trợ</td>
                            <td>
                                <p class="mb-2">+012 345 6789</p>
                                <p class="mb-0">support@example.com</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Visiting Hours End -->