<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p><span class="text-primary me-2">#</span>Chào mừng đến với Zoofari</p>
                <h1 class="display-5 mb-4">
                    Tại sao bạn nên đến với
                    <span class="text-primary">Zoofari</span> !
                </h1>
                <p class="mb-4">
                    Sở thú của chúng tôi đang là một trong những sở thú có số lượng động vật phong
                    phú nhất tại đây, khi tới đây bạn có thể có thêm nhiều kiến thức về các
                    động vật thiên nhiên, hoặc đưa các con trẻ của chúng ta được hòa mình vào
                    thiên nhiên để con trẻ biết yêu quý động vật hơn!
                    và rất nhiều lợi ích khác
                </p>
                <h5 class="mb-3">
                    <i class="far fa-check-circle text-primary me-3"></i>Chỗ để xe
                    miễn phí
                </h5>
                <h5 class="mb-3">
                    <i class="far fa-check-circle text-primary me-3"></i>Môi trường
                    tự nhiên
                </h5>
                <h5 class="mb-3">
                    <i class="far fa-check-circle text-primary me-3"></i>Hướng dẫn viên
                    & Bảo vệ chuyên nghiệp
                </h5>
                <h5 class="mb-3">
                    <i class="far fa-check-circle text-primary me-3"></i>Động vật
                    quý hiếm
                </h5>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="img-border">
                    <img class="img-fluid" src="img/about.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->