@model IList<Services>
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <p><span class="text-primary me-2">#</span>Our Services</p>
                <h1 class="display-5 mb-0">
                    Special Services For
                    <span class="text-primary">Zoofari</span> Visitor
                </h1>
            </div>
            <div class="col-lg-6">
                <div class="bg-primary h-100 d-flex align-items-center py-4 px-4 px-sm-5">
                    <i class="fa fa-3x fa-mobile-alt text-white"></i>
                    <div class="ms-4">
                        <p class="text-white mb-0">Call for more info</p>
                        <h2 class="text-white mb-0">+012 345 6789</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-5 gx-4">
            @foreach (var services in Model.OrderBy(S=>S.ServicesOrder))
            {
            <div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
                 data-wow-delay="0.1s">
                <img class="img-fluid mb-3" src="@services.ServicesIMG" alt="Icon" />
                <h5 class="mb-3">@services.ServicesName</h5>
                <span>
                    @services.ServicesDetail
                </span>
            </div>
                
            }
            
        </div>
    </div>
</div>
<!-- Service End -->